{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "airbnb-base",
      "airbnb-typescript/base"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "max-classes-per-file": 0,
        "@typescript-eslint/indent": ["error", 4]
    }
  }